/* Estilos de página HOME */
body{
    background-color: #FFF689;
    margin: 0;
    display: flex;
    flex-direction: column;       
}
header{
    min-height: 10vh;
    margin: 0 13px;
}
main{
    min-height: 80vh;
}
@font-face {
    font-family: "musicNet" ;
    src: url(./assets/fonts/MUSICNET.ttf);
}
h1{
    text-align: center;
    background-color: #d786c6;
    padding: 32px;
    font-family: "musicNet";
}
h2{
    text-align: center;
    font-size: 23px;
    padding: 19px;
    font-family: "musicNet";
}
img{
    display: flex;
    margin: 0 auto;
}
@font-face {
    font-family: "gameTime" ;
    src: url(./assets/fonts/Game_Time.ttf);
}
p{
    font-family: "gameTime";
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 15px 15px 30px 15px;
}
div h3{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-family: "musicApartments";
    margin-top: 30px;
}
#signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #A46FAE;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
}
#signup-form input{
    margin-bottom: 14px;
}
.emailLabel{
    background-color: transparent;
    display: contents;
    margin-bottom: 2px;
}
#userLabel{
    background-color: transparent;
    display: contents;
}
.passLabel{
    background-color: transparent;
    display: contents;
}
#registerBtn{
    display: flex;
    margin: 0 auto;
    background-color: #D1FFAD;
    text-decoration: none;
    justify-content: center;
    font-size: large;
    font-family: "musicNet";
    color: #000000;
    padding: 6px;
    border: 4px solid #94AFB3;
}
#registerBtn:hover{
    background-color: #a0ffae;
    scale: 1.05;
}
#loginBtn{
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #D1FFAD;
    text-decoration: none;
    justify-content: center;
    font-size: large;
    font-family: "musicNet";
    color: #000000;
    padding: 6px;
    border: 4px solid #94AFB3;
}
#loginBtn:hover{
    background-color: #a0ffae;
    scale: 1.05;
}
.submitBtnLoginForm{
    background-color: #D1FFAD;
    padding: 7px 10px;
    font-family: 'musicNet';
    color: black;
    font-size: larger;
    border: 4px solid #94AFB3;
}
.submitBtnLoginForm:hover{
    background-color: #a0ffae;
    scale: 1.05;
}
#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #A46FAE;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
}
#login-form input{
    margin-bottom: 14px;
}
.ct-golden-section {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.ct-chart-bar{
    display: flex !important;
}
#titleGraphic{
    margin-bottom: 1%;
    margin-left: 8%;
    margin-top: 8%;
    font-family: "musicApartments";
}
#startQuiz{
    display: flex;
    background-color: #D1FFAD;
    text-decoration: none;
    justify-content: center;
    font-size: x-large;
    font-family: "musicNet";
    padding: 12px;
    border: 4px solid #94AFB3;
    margin: 6px 68px 29px 68px;
}
#startQuiz:hover{
    background-color: #a0ffae;
    scale: 1.05;
}
footer{
    background-color: #d786c6;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    left: 0;
    bottom: 0;
    margin-top: 5px;
    min-height: 10vh;
}
@font-face {
    font-family: "saudagar" ;
    src: url(./assets/fonts/Saudagar.ttf);
}
.footer{
    font-family: "saudagar";
    font-size: large;
    margin: 0 5px;
    color: #e3ffe7;
    margin-top: revert;
}

/* Estilos página QUESTIONS */
fieldset{
    height: 90%;
    margin: 0px 13px;
    border: 8px solid #A46FAE;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: "musicApartments" ;
    src: url(./assets/fonts/Music\ for\ empty\ apartments.ttf);
}
legend{
    font-size: 26px;
    text-align: center;
    padding-top: 44px;
    border: 5.5px solid #d786c6;
    padding: 12px;
    font-family: "gameTime";
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
label{
    background-color: #D1FFAD;
    padding: 17px;
    margin: 26px;
    text-align: center;
    font-family: "gameTime";
    font-size: larger;
    width: 50%;
    display: flex;
    justify-content: center;
}
label:hover{
    background-color: #cd9cd6;
    scale: 1.05;
}
label:checked{
    background-color: #cd9cd6;
}
.answer{
    display: none;
}
.hidden {
    display: none;
} 

#siguientePregunta{
    padding: 3px 59px 33px 9px;
    background-image: url(./assets/right-297788_1280.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    display: flex;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 38px;
}
#siguientePregunta:hover{
    scale: 1.05;
}
/*Estilos RESULTS */
#botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
}
#results{
    background-image: url(./assets/dinos.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 345px;
    background-repeat: no-repeat;
    font-family: "musicApartments";
    font-size: 67px;
    color: #000000;
    display: flex;
    justify-content: center;
    padding: 65px 85px 65px 85px;
    margin: 0 auto;
}
.botonResults{
    text-decoration: none;
    font-family: "musicNet";
    background-color: #D1FFAD;
    padding: 19px;
    border: 3px solid #94AFB3;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 12px;
    width: 20%;
}
.botonResults:hover{
    background-color: #a0ffae;
    scale: 1.05;
}

