/* Estilos de página HOME */
body{
    background-color: #FFF689;
}
@font-face {
    font-family: "musicNet" ;
    src: url(./assets/fonts/MUSICNET.ttf);
}
h1{
    text-align: center;
    background-color: #7AE7C7;
    padding: 32px;
    font-family: "musicNet";
    margin-top: 1px;
}
h2{
    text-align: center;
    font-size: 23px;
    padding: 19px;
    font-family: "musicNet";
}
img{
    display: flex;
    margin: 0 auto;
}
@font-face {
    font-family: "musicMagic" ;
    src: url(./assets/fonts/Music\ Magic\ Personal\ Use.ttf);
}
p{
    font-family: "musicMagic";
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 15px 15px 30px 15px;
}
#startQuiz{
    display: flex;
    background-color: #D1FFAD;
    text-decoration: none;
    justify-content: center;
    font-size: x-large;
    font-family: "musicNet";
    padding: 12px;
    border: 4px solid #94AFB3;
    margin: -12px 68px 29px 68px;
}
#startQuiz:hover{
    background-color: #a9e47c;
    scale: 1.05;
}

/* Estilos página QUESTIONS */
fieldset{
    height: 90%;
    width: 90%;
    margin: 0 auto;
    border: 8px solid #A46FAE;
}
@font-face {
    font-family: "musicApartments" ;
    src: url(./assets/fonts/Music\ for\ empty\ apartments.ttf);
}
legend{
    font-size: 26px;
    text-align: center;
    padding-top: 44px;
    border: 5.5px solid #d786c6;
    padding: 12px;
    font-family: "musicApartments";
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
label{
    background-color: #D1FFAD;
    padding: 17px;
    margin: 26px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    font-family: "musicApartments";
}
label:hover{
    background-color: #cd9cd6;
    scale: 1.05;
}
input{
    visibility: hidden;
}
#siguientePregunta{
    padding: 0px 40px 18px 5px;
    background-image: url(./assets/right-297788_1280.png);
}